body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width:  100%;
    height: 80px;
    border-bottom: 1px solid black;
    background-color: white;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}

header nav {
    padding-right: 40px;
}

nav span {
    display: inline-block;
    align-items: center;
    margin: 0px 10px;
}

div {
    border: 1px solid black;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
}

.logo img {
    margin-right: 15px;
}

.content {
    display: flex;
    width: 1232px;
    margin: 0 auto 78px auto;
    padding-top: 116px;
}

/* .lead-image {
    background-image: url("../img/img-main.png");
    height: 300px;
    width: 100%;
} */

.column {
    margin-right: 30px;
}

.column.large {
    width: 630px;
}

.column.medium {
    width: 300px;    
}

.column.small {
    width: 240px;    
}